<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tounkis Vilageois 2.0</title>
</head>
<body>
<h>Bienvenu dans mon site d'apprentissage du developpement Web à vous Mr {{Prenom|upper}}</h>
<h2>Aujourd'hui nous somme le {{date}}</h2>
<p> Ce site reflete mon desir, mon engagement et ma determination de devenir developpeur web</p>
<h3>les languages que j'utilise pour coder ce site web</h3>
<h4>Ma soeur s'appele {{soeur}}</h4>
<ul>
    <li STYLE="color: red">HTML5/CSS3</li>
    <li style="color: blue">PYTHON/DJANGO</li>
</ul>
</body>
</html>