@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    background-image: url("../img/photo-1531804055935-76f44d7c3621.jpg");
    background-position: center;
    background-repeat : no-repeat;
    background-size: cover;
}
.container {
    height: 110%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column; /*  pour aligner en ligne */
    align-items: center;  /* pour centrer verticalement */
    justify-content: center; /*  pour centrer horizontalement */
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.35); /* meilleure syntaxe */

}
💡








